* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  position: relative;
  background-image: url(./Images/womensBackground.jpg);
}

#container {
  border-radius: 2.5%;
  background-image: url(./Images/womensBackground.jpg);
  /* background-color: rgba(180, 180, 181, 0.437); */
  width: 1250px;
  height: 550px;
  position: absolute;
  justify-content: center;
  top: 100px;
  left: 9.5%;
  border: 2px solid rgb(235, 234, 234);
}

#jewelery {
  position: absolute;
  top: 2%;
  left: 1%;
  height: 45%;
  width: 48%;
}

#titleContainer {
  position: relative;
}

#jeweleryTitle {
  position: absolute;
  font-size: 50px;
  text-transform: uppercase;
  /* color: rgb(255, 255, 255); */
  color: rgba(4, 4, 4, 0.582);

  left: 16%;
  top: 20%;
}

#jeweleryTitle:hover {
  font-size: 51px;
  color: rgba(4, 4, 4, 0.697);
}

#electronics {
  position: absolute;
  top: 2%;
  right: 1%;
  height: 45%;
  width: 48%;
}

#electronicsTitle {
  position: absolute;
  font-size: 50px;
  text-transform: uppercase;
  color: rgba(255, 251, 251, 0.546);

  /* color: rgb(255, 255, 255); */
  right: 10%;
  top: 18%;
}

#electronicsTitle:hover {
  font-size: 51px;
  color: rgba(255, 251, 251, 0.686);
}

#mens_clothing {
  position: absolute;
  bottom: 2%;
  left: 1%;
  height: 45%;
  width: 48%;
}

#mensTitle {
  position: absolute;
  font-size: 50px;
  text-transform: uppercase;
  /* color: rgb(255, 255, 255); */
  color: rgba(255, 251, 251, 0.546);

  left: 8.5%;
  bottom: 20%;
}

#mensTitle:hover {
  font-size: 51px;
  color: rgba(255, 251, 251, 0.686);
}

#womens_clothing {
  position: absolute;
  bottom: 2%;
  right: 1%;
  height: 45%;
  width: 48%;
}

#womensTitle {
  position: absolute;
  font-size: 50px;
  text-transform: uppercase;
  /* color: rgb(255, 255, 255); */
  color: rgba(4, 4, 4, 0.582);

  right: 5%;
  bottom: 20%;
}

#womensTitle:hover {
  font-size: 51px;
  color: rgba(4, 4, 4, 0.697);
}

li {
  color: rgb(59, 59, 59);
  padding-bottom: 2%;
  font-size: 70%;
}

h3 {
  text-transform: uppercase;
  font-style: italic;
}
