#container {
  height: 1500px;
  width: 1200px;
  /* background-color: bisque; */
  position: relative;
}

#firstProduct {
  position: absolute;
  height: 18%;
  width: 25%;
  top: 7%;
  left: 10%;
}

#secondProduct {
  position: absolute;
  height: 18%;
  width: 25%;
  top: 7%;
  right: 10%;
}

#thirdProduct {
  position: absolute;
  height: 18%;
  width: 25%;
  bottom: 42%;
  left: 10%;
}

#fourthProduct {
  position: absolute;
  height: 18%;
  width: 25%;
  bottom: 42%;
  right: 10%;
}

#fifthProduct {
  position: absolute;
  height: 18%;
  width: 25%;
  bottom: 7%;
  left: 10%;
}

#sixhtProduct {
  position: absolute;
  height: 18%;
  width: 25%;
  bottom: 7%;
  right: 10%;
}

h1 {
  text-transform: uppercase;
  font-style: italic;
}

li {
  padding-bottom: 25%;
  list-style: none;
}

#test1 {
  color: red;
  bottom: 15%;
  left: 0;
}
